<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projekt.intranet</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projekt.intranet.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" />
</head>
<body>
   
        <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
        <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg scrollbar align-items-start"
                 id="sidebar">
            <div class="container-fluid flex-column">
                    <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button> <a class="navbar-brand d-inline-block py-lg-2 mb-lg-5 px-lg-6 me-0" href="/">
                        <img src="/img/logo.jpg" alt="...">
                    </a>
                    <div class="navbar-user d-lg-none">
                        <div class="dropdown">
                            <a href="#" id="sidebarAvatar" role="button" data-bs-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <div class="avatar-parent-child">
                                    <img alt="..." src="/img/people/img-profile.jpg"
                                         class="avatar avatar- rounded-circle"> <span class="avatar-child avatar-badge bg-success"></span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="sidebarAvatar">
                                <a href="#"
                                   class="dropdown-item">Profile</a> <a href="#" class="dropdown-item">Settings</a> <a href="#" class="dropdown-item">Billing</a>
                                <hr class="dropdown-divider"><a href="#" class="dropdown-item">Logout</a>
                            </div>
                        </div>
                    </div>
                <div class="collapse navbar-collapse  flex-column" id="sidebarCollapse">
                    <ul class="navbar-nav  flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#sidebar-products" data-bs-toggle="collapse"
                               role="button" aria-expanded="false" aria-controls="sidebar-products">
                                <i class="bi bi-box-seam"></i> Sprzedaż
                                </a>
                                <div class="collapse" id="sidebar-products">
                                    <ul class="nav nav-sm flex-column">
                                        <li class="nav-item">
                                            @Html.ActionLink("produkty", "", "Products", null, new { @class = "nav-link"})
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("kategorie produktów", "", "ProductCategories", null, new { @class = "nav-link"})
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("Elementy kosyka", "", "CheckoutItems", null, new { @class = "nav-link"})
                                        </li>
                                        <li class="nav-item">
                                            <a href="#"
                                           class="nav-link"><s>Klienci</s></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#"
                                           class="nav-link"><s>Statystyki</s></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Blog", "", "BlogPosts", null, new { @class = "nav-link bi bi-blockquote-left"})
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Strony", "", "Sites", null, new { @class = "nav-link bi bi-newspaper"})
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Element Faq", "", "FaqItems", null, new { @class = "nav-link bi bi-info"})
                            </li>
                        <li class="nav-item">
                                @Html.ActionLink("Parametry strony", "", "Parameters", null, new { @class = "nav-link bi bi-wrench"})
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#sidebar-settings" data-bs-toggle="collapse"
                                       role="button" aria-expanded="false" aria-controls="sidebar-settings">
                                    <i class="bi bi-gear"></i> <s>Ustawienia</s>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#sidebar-authentication"
                                       data-bs-toggle="collapse" role="button" aria-expanded="false"
                                       aria-controls="sidebar-authentication">
                                        <i class="bi bi-person-bounding-box"></i>
                                    <s>Profil</s>
                                    </a>
                                </li>
                        </ul>
                        <hr class="navbar-divider my-4 opacity-70">
                    <ul class="navbar-nav  flex-column">
                            <li>
                                <span class="nav-link text-xs font-semibold text-uppercase text-muted ls-wide">Dodatkowe</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link py-2" href="/docs">
                                    <i class="bi bi-code-square"></i>
                                <s>Kontakt</s>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link py-2 d-flex align-items-center"
                                   href="https://webpixels.io/themes/clever-admin-dashboard-template/releases"
                                   target="_blank">
                                    <i class="bi bi-journals"></i> <s>Informacje</s>
                                </a>
                            </li>
                        </ul>
                        <div class="mt-auto"></div>
                        <div class="my-4 px-lg-6 position-relative">
                            <div class="dropup w-full">
                                <div class="dropdown-menu dropdown-menu-end w-full">
                                    <div class="dropdown-header">
                                        <span class="d-block text-sm text-muted mb-1">
                                            Signed in
                                            as
                                        </span> <span class="d-block text-heading font-semibold">Andrzej</span>
                                    </div>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">
                                        <i class="bi bi-house me-3"></i>Home
                                    </a><a class="dropdown-item" href="#">
                                        <i class="bi bi-pencil me-3"></i>Profile
                                    </a><a class="dropdown-item" href="#">
                                        <i class="bi bi-gear me-3"></i>Settings
                                    </a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">
                                        <i class="bi bi-box-arrow-left me-3"></i>Logout
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex gap-3 justify-content-center align-items-center mt-6 d-none">
                                <div>
                                    <i class="bi bi-moon-stars me-2 text-warning me-2"></i> <span class="text-heading text-sm font-bold">Dark mode</span>
                                </div>
                                <div class="ms-auto">
                                    <div class="form-check form-switch me-n2">
                                        <input class="form-check-input"
                                               type="checkbox" id="switch-dark-mode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="flex-lg-1 h-screen overflow-y-lg-auto flex-grow-1">
                <nav class="navbar navbar-light position-lg-sticky top-lg-0 d-none d-lg-block overlap-10 flex-none bg-white border-bottom px-0 py-3"
                     id="topbar">
                    <div class="container-fluid">
                        <div class="hstack gap-2"> </div>
                        <form class="form-inline ms-auto me-4 d-none d-md-flex">
                            <div class="input-group input-group-inline shadow-none">
                            <span class="input-group-text border-0 shadow-none bg-transparent ps-0 pe-3">
                                    <i class="bi bi-search"></i>
                                </span><input type="text" class="form-control form-control-flush" placeholder="Szukaj"
                                              aria-label="Search">
                            </div>
                        </form>
                        <div class="navbar-user d-none d-sm-block">
                            <div class="hstack gap-3 ms-4">
                                <div class="dropdown">
                                    <a href="#"
                                       class="nav-link px-3 text-base text-muted text-opacity-70 text-opacity-100-hover"
                                       id="dropdown-notifications" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-bell-fill"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end px-2"
                                         aria-labelledby="dropdown-notifications">
                                        <div class="dropdown-item d-flex align-items-center">
                                            <h6 class="dropdown-header p-0 m-0 font-semibold">Notifications</h6><a href="#"
                                                                                                                   class="text-sm font-semibold ms-auto">Clear all</a>
                                        </div>
                                        <div class="dropdown-item py-3 d-flex">
                                            
                                            <div class="flex-fill ms-3">
                                                <div class="text-sm lg-snug w-64 text-wrap">
                                                    <a href="#"
                                                       class="font-semibold text-heading text-primary-hover">Robert</a>
                                                    sent a message to <a href="#"
                                                                         class="font-semibold text-heading text-primary-hover">Webpixels</a>
                                                </div><span class="text-muted text-xs">30 mins ago</span>
                                            </div>
                                        </div>
                                        <div class="dropdown-item py-3 d-flex">
                                            
                                            <div class="flex-fill ms-3">
                                                <div class="text-sm lg-snug w-64 text-wrap">
                                                    <a href="#"
                                                       class="font-semibold text-heading text-primary-hover">Robert</a>
                                                    sent a message to <a href="#"
                                                                         class="font-semibold text-heading text-primary-hover">Webpixels</a>
                                                </div><span class="text-muted text-xs">30 mins ago</span>
                                            </div>
                                        </div>
                                        <div class="dropdown-item py-3 d-flex">
                                           
                                            <div class="flex-fill ms-3">
                                                <div class="text-sm lg-snug w-64 text-wrap">
                                                    <a href="#"
                                                       class="font-semibold text-heading text-primary-hover">Robert</a>
                                                    sent a message to <a href="#"
                                                                         class="font-semibold text-heading text-primary-hover">Webpixels</a>
                                                </div><span class="text-muted text-xs">30 mins ago</span>
                                            </div>
                                        </div>
                                        <div class="dropdown-item py-3 d-flex">
                                            
                                            
                                            <div class="flex-fill ms-3">
                                                <div class="text-sm lg-snug w-64 text-wrap">
                                                    <a href="#"
                                                       class="font-semibold text-heading text-primary-hover">Robert</a>
                                                    sent a message to <a href="#"
                                                                         class="font-semibold text-heading text-primary-hover">Webpixels</a>
                                                </div><span class="text-muted text-xs">30 mins ago</span>
                                            </div>
                                        </div>
                                        <div class="dropdown-item py-3 d-flex">
                                         
                                            <div class="flex-fill ms-3">
                                                <div class="text-sm lg-snug w-64 text-wrap">
                                                    <a href="#"
                                                       class="font-semibold text-heading text-primary-hover">Robert</a>
                                                    sent a message to <a href="#"
                                                                         class="font-semibold text-heading text-primary-hover">Webpixels</a>
                                                </div><span class="text-muted text-xs">30 mins ago</span>
                                            </div>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <div class="dropdown-item py-2 text-center">
                                            <a href="#"
                                               class="font-semibold text-muted text-primary-hover">View all</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <a class="d-flex align-items-center" href="#" role="button"
                                       data-bs-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                                        
                                    <div class="d-none d-sm-block ms-3"><span class="h6">Andrzej</span></div>
                                        <div class="d-none d-md-block ms-md-2">
                                            <i class="bi bi-chevron-down text-muted text-xs"></i>
                                        </div>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <div class="dropdown-header">
                                            <span class="d-block text-sm text-muted mb-1">
                                                Signed in
                                                as
                                            </span> <span class="d-block text-heading font-semibold">
                                            Andrzej
                                            </span>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                       <a class="dropdown-item" href="#">
                                            <i class="bi bi-pencil me-3"></i>Edytuj profil
                                        </a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">
                                            <i class="bi bi-gear me-3"></i>Ustawienia
                                        </a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">
                                            <i class="bi bi-person me-3"></i>Wyloguj
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <main class="py-6 bg-surface-secondary">
                    @RenderBody()
                </main>
            </div>
        </div>
        <script src="/js/main.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
