@model IEnumerable<Projekt.Data.Data.CMS.Site>


<nav>
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">@ViewBag.SiteParameters["HOME_title"]</a>
        <ul class="right hide-on-med-and-down">
            <li>
                @Html.ActionLink((string)ViewBag.SiteParameters["TOP_MENU_shop_name"], "Index", "Shop")
            </li>
            <li>
                @Html.ActionLink((string)ViewBag.SiteParameters["TOP_MENU_blog_name"], "Index", "Blog")
            </li>
            <li>
                @Html.ActionLink((string)ViewBag.SiteParameters["TOP_MENU_faq"], "Index", "Faq")
            </li>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(item.Id.ToString(),"Details","Site", new {id=item.Id}, null)
                </li>
            }
        </ul>
    </div>
</nav>
