@model IEnumerable<Projekt.Data.Data.Shop.ProductCategory>


<nav>
    <div class="nav-wrapper container">
        <a href="#" class="brand-logo">@ViewBag.SiteParameters["HOME_title"]</a>
        <ul class="right hide-on-med-and-down">
            <li>
                @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li>
                @Html.ActionLink((string)ViewBag.SiteParameters["TOP_MENU_blog_name"], "Index", "Blog")
            </li>
            <li>
                @Html.ActionLink((string)ViewBag.SiteParameters["TOP_MENU_faq"], "Index", "Faq")
            </li>
            <li>
                @Html.ActionLink("Koszyk", "Index", "CheckoutItem")
            </li>
            @foreach (var item in Model)
            {
                <li>
                    @Html.ActionLink(item.LinkTitle,"Index","Shop", new {categoryId=item.Id}, null)
                </li>
            }
        </ul>
    </div>
</nav>
